@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111;
  color: white;
  
}




h1 {
 text-decoration: underline;
 font-size: 70px;
 font-weight: 600;
 color: #fff;
}

